body {
    /* Override body margin for better control over elements. */
    margin: 0;
}

.app {
    /* Restore default body margin for content within app. */
    margin: 8px;
}

.top-bar {
    /* display: inline-block; */
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: rgb(57, 57, 57);
    border-top: 3px solid orange;
    /* overflow: hidden; */
}

.bottom-footer {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    background-color: rgb(57, 57, 57);
    overflow: hidden;
    padding: 5px 0px 5px 0px;
}

/* Flexbox */

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
  
  .box .row {
    border: 1px dotted grey;
}
  
.box .row.header {
    flex: 0 1 50px;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 auto;
}

/* Dropdown menu */

#menu-bar {
    /* background-color:steelblue; debug */
}

/* .menu-label {
    position: fixed;
} */

.dropdown {
    position: absolute;
    right:5%;
    overflow: hidden;
}

/* .dropdown p {
    font-size: 2ex;
} */

.dropbtn:hover {
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(8, 8, 8, 0.493);
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
}

#menu-bar .dropbtn {
    /* position: absolute; */
    display: inline-block;
}

#menu-bar .dropbtn:nth-child(n) {
    /* margin-right: 100px; */
}


.dropdown-content {
    display: none;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5000;
    max-width: 300px;
}

.dropdown-content:hover p:hover {
    cursor: pointer;
    font-weight: bolder;
}

.dropdown-content p {
    float: none;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* .dropdown-inner-content {
    float: right;
} */

.show {
    display: block;
}